<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<canvas id="myCanvas" width="200" height="100" style="border: 1px solid #000000">

</canvas>
<canvas id="myCanvas1" width="200" height="100" style="border: 1px solid #000000">

</canvas>
<input type="range" min="1" max="10">
<input list="browsers">
<datalist id="browsers">
    <option value="Internet Explorer">
    <option value="Firefox">
    <option value="Chrome">
    <option value="Opera">
    <option value="Safari">
</datalist>


<form oninput="x.value=parseInt(a.value)+parseInt(b.value)">0
    <input type="range" id="a" value="50">100 +
    <input type="number" id="b" value="50">=
    <output name="x" for="a b"></output>
</form>

<br>
The<abbr title="World Health Organization ">WHO</abbr> was founded in 1948.

<table border="1">
    <tr>
        <th>Month</th>
        <th>Savings</th>
    </tr>
    <tr>
        <td>January</td>
        <td>$100</td>
    </tr>
</table>
<table border="1">
    <thead>
    <tr>
        <th>Month</th>
        <th>Savings</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <td>Sum</td>
        <td>$180</td>
    </tr>
    </tfoot>
    <tbody>
    <tr>
        <td>January</td>
        <td>$100</td>
    </tr>
    <tr>
        <td>February</td>
        <td>$80</td>
    </tr>
    </tbody>
</table>
</body>
</html>
<script>
    var c=document.getElementById("myCanvas");
    var ctx=c.getContext("2d");
    var linearGradient = ctx.createLinearGradient(0,0,200,0);
    linearGradient.addColorStop(0,"red");
    linearGradient.addColorStop(1,"yellow");

    ctx.fillStyle=linearGradient;
    ctx.fillRect(0,0,200,100);
</script>
<script>
    var x=document.getElementById("myCanvas1");
    getLocation();
    function getLocation()
    {
        if (navigator.geolocation)
        {
            navigator.geolocation.getCurrentPosition(showPosition);
        }
        else{x.innerHTML="该浏览器不支持获取地理位置。";}
    }
    function showPosition(position)
    {
        x.innerHTML="Latitude: " + position.coords.latitude +
            "<br>Longitude: " + position.coords.longitude;
    }
</script>